.root {
    -fx-font-size: 1.6em;
}

.cell Text {
    -fx-fill: -fx-text-inner-color;
}

.faded {
    -fx-fill: derive(-fx-base, 25%);
}

.bold {
    -fx-fill: #DDD;
    -fx-font-weight: bold;
}

#connect-bar {
    -fx-background-color: black;
}